.main {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  gap: 3rem;

  padding: 1rem;
}

.images {
  display: flex;
  gap: 5rem;
}

.notify {
    flex: 1;
}
